/* Fade-in effect for the login page */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade-out effect for the loader */
.loader-wrapper {
  transition: opacity 0.5s ease-in-out;
}

.loader-wrapper.fade-out {
  opacity: 0;
  pointer-events: none; /* Prevent interaction during fade-out */
}